<html>

<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <form action="/admin/login" method="post">
        KEY : <input name="key" placeholder="Example : admin@2019" value="admin@2019">
        <button type="submit">Login</button>
    </form>
</body>

</html>