<html>

<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        input[type=text],input[type=password] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    input[type=submit] {
      background-color:black;
      color: white;
      padding: 10px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type=submit]:hover {
        background:white;
        border:1px solid black;
        color:black;
        font-weight:500;
    }
    .formdiv {
      width:50%;
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>

</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Automatic Question Paper Scrutinizer</h1>
            <p class="lead">Questions are classified based on Bloom's Taxonomy</p>
        </div>
    </div>
    <div class="container formdiv">
        <form action="/admin/login" method="post">
            <label for="Uname">Admin Key</label>
            <input type="text" id="Uname" name="key" placeholder="Example : admin@2019" value="admin@2019">
            <button type="submit">Login</button>
            <!-- KEY : <input name="key" placeholder="Example : admin@2019" value="admin@2019"> -->

        </form>
    </div>
</body>

</html>