<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Course ID</span>
    </div>
    <input type="text" class="form-control" placeholder="Example : IT1234" ng-model="data.course_id">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Example : TQM" ng-model="data.name">
</div>