<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Curriculum</span>
    </div>
    <input type="text" class="form-control" placeholder="Example : 2015-2019" ng-model="data.curriculum">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Semester</span>
    </div>
    <input type="number" class="form-control" placeholder="Example : 5" ng-model="data.sem">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Student_List</span>
    </div>
    <input type="file" class="form-control" accept=".csv" placeholder="Example : aaa.csv"  ng-model="data.student">
</div>