<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Staff ID</span>
    </div>
    <input type="text" class="form-control" placeholder="Example : 2015103568" ng-model="data.staff_id">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Example : Pavis" ng-model="data.name">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Email</span>
    </div>
    <input type="text" class="form-control" placeholder="Example : a@b.com" ng-model="data.email">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Password</span>
    </div>
    <input type="text" class="form-control" placeholder="Example : Pavis@123" ng-model="data.password">
</div>