<!doctype html>
<html>

<head>
    <link rel="shortcut icon" href="/i.jpg" />
    <title>Curriculum</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
    <style>
        body{
        background: rgb(243, 230, 248);
        font-family: 'Playfair Display', serif !important;
    }
    .label{
       background: #9257A5;
       color:white;
       width:150px;
   }
    .curDiv{
        background:white;
        margin:20px;
        padding-top:6px;
        padding-bottom:16px;
        border-radius:10px;
        box-shadow: 3px 3px 5px #9257A5;
    }
    .btn{
       background: #D481EE;
       color:white;
   }
   .btn:hover{
       border:1px solid #9257A5;
   }
   .card{
    border:2px solid #D481EE;
    margin:20px;
   }
    </style>
</head>

<body>
    <center>
        <div class="curDiv col-lg-6 col-md-6 col-sm-12" align="center">

            <div class="card ">
                <div class="card-heading">
                    <div class="card-title"><span class="fa fa-sign-in"></span> Curriculum</div>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" role="form" method="post" action="/curriculum" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text label">Curriculum</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Example :  2015-2019" name="curriculum">
                        </div>
                        <br>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text label">Semester</span>
                            </div>
                            <input type="number" class="form-control" placeholder="Example : 5" name="sem">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text label">Student_List</span>
                            </div>
                            <input type="file" class="form-control" accept=".csv" placeholder="Example : aaa.csv" name="student">
                        </div>
                        <div class="input-group mb-3">

                            <input type="submit" value="click" class="form-control btn">
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <button class="btn back" ><a href="/admin/dashboard" style="text-decoration: none">Back</a></button>
    </center>
</body>

</html>