<html>

<head>
    <title>Automatic Question Paper Scrutinizer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
</head>
<style>
    .dashboardContainer {
        width: 70%;
    }
    h1{
        font-family: 'Playfair Display', serif !important;
    }
    #head{
    background: #9257A5;
    color:white;
    font-family: 'Playfair Display', serif;
    }
    .label{
       background: #9257A5;
       color:white;
   }
   .btn_1{
       background: #D481EE;
       color:white;
   }
   .btn_1:hover{
       border:1px solid #9257A5;
   }
    .sym {
        font-size: 100px;
        margin: 0;
        padding-bottom:10px;
        color:#D481EE ;
    }

    .card:hover .sym {
        color: #9257A5;
        transform: scale(1.1);
        transition: transform 4s ease-out 1;
    }
    .btn:hover{
        background: #9257A5 !important;
        color: white;
    }
    .user:hover{
        /* border:3px solid #D481EE; */
        background: white !important;
        color:black;
    }
    .card {
        text-align: center;
        border:2px solid #D481EE;
        padding: 10 0;
        box-shadow: 2px 2px 5px #9257A5;
    }
    .Qgen{
        border:2px solid #9257A5;
    }
    .modal-title{
        font-weight: 600;
        font-family: 'Playfair Display', serif !important;
        /* color:#9257A5; */
    }
    .card-title {
        font-weight: 600;
    }
</style>

<body ng-app="fyp" ng-controller="myCtrl">
    <div class="jumbotron jumbotron-fluid" id="head">
        <div class="container">
            <div class="row justify-content-between">
                <div>
                    <h1 class="display-4">Automatic Question Paper Scrutinizer</h1>
                    <p class="lead">Helps you to generate questions that satisfies most course outcomes</p>
                </div>
                <div class="w3-dropdown-hover">
                    <button class="w3-button user " style="background:#D481EE ;">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <%= user.name %></button>
                    <div class="w3-dropdown-content w3-bar-block w3-border ">
                        <a href="/logout" class="w3-bar-item w3-button user"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid dashboardContainer">
        <div class="row">
            <div class="card col-lg-3 col-md-3 col-sm-12" style="width: 18rem;">
                <i class="fas fa-book sym"></i>
                <div class="card-body" style="padding:0">
                    <h5 class="card-title">Course Registration</h5>
                    <!-- <p class="card-text">Get in to register Coursers and Course Outcomes</p> -->
                    <a href="/register" class="btn " style="background: #D481EE">Register</a>
                </div>

            </div>
            <div class="card col-lg-3 col-md-3 col-sm-12    " style="width: 18rem;">
                <i class="fas fa-file-alt sym"></i>
                <div class="card-body" style="padding:0;">
                    <h5 class="card-title">Question Paper Generation</h5>
                    <!-- <p class="card-text">Start framing questions for assesments </p> -->
                    <button type="button" class="btn " style="background: #D481EE" data-toggle="modal" data-target="#exampleModal"
                        ng-click="fetchTable()">
                        Generate
                    </button>
                </div>
            </div>
            <div class="card col-lg-3 col-md-3 col-sm-12    " style="width: 18rem;">
                <i class="far fa-calendar-alt sym"></i>
                <!-- <i class="fas fa-clock sym"></i> -->
                <div class="card-body" style="padding:0">
                    <h5 class="card-title">Manage Topics</h5>
                    <!-- <p class="card-text">Manage the course topics and schedule them</p> -->
                    <a href="/manageTopics" class="btn " style="background: #D481EE">Schedule</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-3 col-sm-12    " style="width: 18rem;">
                <i class="far fa-calendar-alt sym"></i>
                <!-- <i class="fas fa-clock sym"></i> -->
                <div class="card-body" style="padding:0">
                    <h5 class="card-title">Manage Topics</h5>
                    <!-- <p class="card-text">Manage the course topics and schedule them</p> -->
                    <a href="/excel" class="btn " style="background: #D481EE">Get Excel Format</a>
                </div>
            </div>
            <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog  " role="document">
                    <div class="modal-content Qgen">
                        <div class="modal-header" style="background: #9257A5;color:white">
                            <h5 class="modal-title" id="exampleModalLabel">Question Paper Template</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/generate" method="GET">
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text label"> Course ID</label>
                                        </div>
                                        <select class="form-control" ng-model="data.course_id" name="course_id">
                                            <option ng-repeat="course in courses">{{course.course_id}}</option>
                                        </select>
                                    </div>
                                    <div class="input-group-prepend">
                                        <label class="input-group-text label">Section</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button" ng-click="inc('sections')">+</button>
                                    </div>
                                </div>
                                <div class="input-group mb-3" ng-repeat="i in data.sections track by $index">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text label">Section :{{$index+1}}</label>
                                    </div>
                                    <div class="input-group-prepend">
                                        <label class="input-group-text label">Number of Questions</label>
                                    </div>
                                    <input class="form-control" ng-model="data.sections[$index].name" name="sections[]">

                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button" ng-click="del('sections',$index)">-</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn_1" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn_1">Start</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("fyp", []);
        app.controller('myCtrl', function ($scope, $http) {
            $scope.data = {};
            $scope.inc = function (attr) {
                // console.log("hi");
                var list = $scope.data[attr];
                if (!list) list = [];
                list.push('');
                $scope.data[attr] = list;
            }
            $scope.del = function (attr, ind) {
                var list = $scope.data[attr];
                list.splice(ind, 1);
                $scope.data[attr] = list;
            }
            $scope.fetchTable = function () {
                $http({
                    method: 'POST',
                    url: '/table/course',
                    data: $scope.data,
                }).then(function (res) {
                    $scope.courses = res.data.rows;
                });
            }

        });
    </script>
</body>

</html>